name: breakfast
description: "A beautiful breakfast app UI."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
  fonts:
    - family: Poppins
      fonts:
        - asset: lib/fonts/Poppins-Regular.ttf
        - asset: lib/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: lib/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: lib/fonts/Poppins-Bold.ttf
          weight: 700
